{{ define "main" }}

{{ if or (eq .Section "post") (eq .Section "posts") }}

<div class="container">
  <div class="row">
    <div class="col col-7 col-d-10 col-m-12 push-m-0 push-d-1 push-2">

      <div class="post-head">
        <div class="post-info">
          {{ if .Params.tags }}
            <div class="post-tags">
              {{ range ($.GetTerms "tags") }}
                <a href="{{ .Permalink }}" class="post-tags__tag">{{ humanize .LinkTitle }}</a>
              {{ end }}
            </div>
          {{ end }}
          <span class="post-date">
            <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
          </span>
        </div>
        <h1 class="post-title">{{ .Title }}</h1>
      </div>

    </div>
  </div>
</div>

{{ if .Params.image }}
<div class="container">
  <div class="row">
    <div class="col col-8 col-d-10 col-m-12 push-m-0 push-d-1 push-2">
      <div class="image-box">
        {{- with .Params.Image -}}
          {{- $feature := (resources.Get .).Resize "800x webp q75" -}}
          <div class="post-image" style="background-image: url('{{ $feature.RelPermalink }}')"></div>
        {{- end -}}
      </div>
    </div>
  </div>
</div>
{{ end }}

<div class="container">

  <div class="row">
    <div class="col col-8 col-d-10 col-m-12 push-m-0 push-d-1 push-2">

      <!-- begin post -->
      <article class="post">

        <div class="post__content">
          {{ .Content }}
        </div>

        {{ partial "share-buttons.html" . }}

        <div class="author-image-box">
          <a href="/about/" class="author__image" style="background-image: url('{{ .Site.Params.author.avatar | absURL }}')" aria-label="{{.Site.Params.author.name}}"></a>
          <a class="author__name" href="/about/">{{.Site.Params.author.name}}</a>
        </div>

        {{ if or .NextInSection .PrevInSection }}
        <div class="post__navigation">
          {{ if .PrevInSection }}
          <div class="prev">
            <a class="post__nav post__nav__prev" href="{{ .PrevInSection.Permalink }}"><i class="ion ion-ios-arrow-back"></i> Previous Page</a>
            <h3 class="post__nav__title"><a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a></h3>
          </div>
          {{ end }}
          {{ if .NextInSection }}
          <div class="next">
            <a class="post__nav post__nav__next" href="{{ .NextInSection.Permalink }}">Next Page <i class="ion ion-ios-arrow-forward"></i></a>
            <h3 class="post__nav__title"><a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a></h3>
          </div>
          {{ end }}
        </div>
        {{ end }}

        {{ if and .Site.Params.disqus.disqusShortname .Site.Params.disqus.enable }}
          {{ partial "disqus-comments.html" . }}
        {{ end }}
    
      </article>
      <!-- end post -->
    </div>
  </div>
</div>

{{ else }}

<div class="container">
  <div class="row">
    <div class="col col-7 col-d-10 col-m-12 push-m-0 push-d-1 push-2">
      <div class="page-head">
        <h1 class="page-title">{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>

{{ if .Params.image }}
<div class="container">
  <div class="row">
    <div class="col col-8 col-d-10 col-m-12 push-m-0 push-d-1 push-2">
      <div class="image-box">
        {{- with .Params.Image -}}
          {{- $feature := (resources.Get .).Resize "800x webp q75" -}}
          <div class="page-image" style="background-image: url('{{- $feature.RelPermalink -}}')"></div>
        {{- end -}}
      </div>
    </div>
  </div>
</div>
{{ end }}

<div class="container">
  <div class="row">
    <div class="col col-8 col-d-10 col-m-12 push-m-0 push-d-1 push-2">
      <!-- begin page -->
      <article class="page">
        <div class="page__content">
          {{ .Content }}
        </div>
      </article>
      <!-- end page -->
    </div>
  </div>
</div>

{{ end }}

{{ end }}