<nav class="fixed z-10 md:sticky bottom-0 md:bottom-auto md:top-0 right-0 left-0 md:mb-5 md:mt-0 mt-5 bg-pink-100 md:bg-gray-50 md:shadow" style="height:85px">
	<div class="flex flex-row justify-evenly items-center h-full w-full">
		
		<a href="{{ .Site.BaseURL }}" class="mr-auto ml-5 hidden md:block">
			<img src='{{- ((resources.Get "images/logo.png").Resize "175x50 q85 png").RelPermalink -}}' width="175" height="50">
		</a>
	
		<div class="flex flex-row">
			{{- range .Site.Menus.main -}}
				<a href="{{ .URL }}" class="mx-2 text-gray-700 font-bold flex flex-col md:inline md:flex-none items-center hover:text-pink-400 justify-between">
					<span class="inline-block md:hidden"><i class="fa-light fa-{{ .Pre }}"></i></span>
					<span class="text-xs md:text-xl ">{{ .Name }}</span>
				</a>
			{{- end -}}
		</div>

		<div class="mr-5 ml-auto border-r border-gray-300 pr-5 sm:flex flex-row hidden">
			{{- range .Site.Menus.social -}}
				<a href="{{ .URL }}" class="text-{{ .Identifier }} hover:text-pink-400 ml-3">
					<i class="fa-brands fa-{{ .Pre }} fa-lg fa-fw"></i>
				</a>
			{{- end -}}
		</div>

		<span class="mr-10 sm:block">
			<a href="/search" class="mx-2 text-gray-700 font-bold flex flex-col md:inline md:flex-none items-center hover:text-pink-400 justify-between">
				<i class="fa-regular fa-magnifying-glass"></i>
				<span class="inline-block md:hidden text-xs">Search</span>
			</a>
		</span>

	</div>
</nav>