{{ $paginator := .Paginator }}

<!-- Number of links either side of the current page -->
{{ $adjacent_links := 1 }}

<!-- $max_links = ($adjacent_links * 2) + 1 -->
{{ $max_links := (add (mul $adjacent_links 2) 1) }}

<!-- Pages to print -->
{{ $lower_limit := 1 }}
{{ $upper_limit := $paginator.TotalPages }}
{{ $include_lower_ellipsis := false }}
{{ $include_upper_ellipsis := false }}

{{ if gt $paginator.TotalPages (add $max_links 2) }}

    <!-- If we have more pages before the current page than we can print -->
    {{ if ge $paginator.PageNumber $adjacent_links }}

        {{ $lower_limit = sub $paginator.PageNumber $adjacent_links }}

        <!-- Show more pages at the end of the range -->
        {{ if lt (sub $paginator.TotalPages $lower_limit) $max_links }}
            {{ $lower_limit = add 1 (sub $paginator.TotalPages $max_links) }}
        {{ end }}

        <!-- Show ellipsis -->
        {{ if gt (sub $lower_limit 1) 1 }}
            {{ $include_lower_ellipsis = true }}
        {{ end }}

    {{ end }}

    <!-- If we have more pages after the current page than we can print -->
    {{ if gt (sub $paginator.TotalPages $paginator.PageNumber) $adjacent_links }}

        {{ $upper_limit = add $paginator.PageNumber $adjacent_links }}

        <!-- Show more pages at the beginning of the range -->
        {{ if le $upper_limit $max_links }}
            {{ $upper_limit = $max_links }}
        {{ end }}

        <!-- Show ellipsis -->
        {{ if gt (sub $paginator.TotalPages $upper_limit) 1 }}
            {{ $include_upper_ellipsis = true }}
        {{ end }}

    {{ end }}

{{ end }}

<!-- If there's more than one page -->
{{ if gt $paginator.TotalPages 1 }}
<section class="w-full mx-auto">
    <nav class="w-full flex flex-row justify-center">

        {{ if $paginator.HasPrev }}
            <a class="rounded px-5 py-2 mx-2 border-0 text-white shadow bg-gradient-to-br from-pink-400 to-pink-600 hover:from-pink-300 hover:to-pink-400" href="{{ $paginator.Prev.URL }}">Previous</a>
        {{ end }}

        {{ range $paginator.Pagers }}

            <!-- Include first, last, and middle pages -->
            {{ if or (or (eq .PageNumber 1) (eq .PageNumber $paginator.TotalPages)) (and (ge .PageNumber $lower_limit) (le .PageNumber $upper_limit)) }}

                {{ if eq $paginator.PageNumber .PageNumber }}

                    <span class="rounded px-5 py-2 mx-2 border-0 bg-gray-200 shadow-inner ">{{ .PageNumber }}</span>

                {{ else }}

                    <a href="{{ .URL }}" class="rounded px-5 py-2 mx-2 border-0 text-white shadow bg-gradient-to-br from-pink-400 to-pink-600 hover:from-pink-300 hover:to-pink-400">{{ .PageNumber }}</a>

                {{ end }}

                <!-- If we're on the first page and inserting an ellipsis, or just before the last page and inserting an ellipsis -->
                {{ if or (and (eq .PageNumber 1) (eq $include_lower_ellipsis true)) (and (eq .PageNumber $upper_limit) (eq $include_upper_ellipsis true)) }}
                    <span class="pagination-ellipsis">&hellip;</span>
                {{ end }}

            {{ end }}

        {{ end }}

        {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}" class="rounded px-5 py-2 mx-2 border-0 text-white shadow bg-gradient-to-br from-pink-400 to-pink-600 hover:from-pink-300 hover:to-pink-400">Next page</a>
        {{ end }}


    </nav>
</section>
{{ end }}