{{ if gt .Paginator.TotalPages 1 }}
<!-- begin pagination -->
<nav class="pagination">
  <div class="container">

    <div class="pagination__list">
      {{ if .Paginator.HasPrev }}
        <a class="previous-link" href="{{ .Paginator.Prev.URL }}" aria-label="Previous page"><i class="ion ion-ios-arrow-back"></i></a>
      {{ end }}

      <div class="counter-box">
        {{ range .Paginator.Pagers }}
          {{ if eq . $.Paginator }}
            <span class="active-link">
              {{ .PageNumber -}}
            </span>

          {{ else if or (or (eq . $.Paginator.First) (eq . $.Paginator.Prev)) (or  (eq . $.Paginator.Next) (eq . $.Paginator.Last )) }}
            <a class="back-link" href="{{ .URL }}">
              {{ .PageNumber }}
            </a>
          {{ end }}
        {{ end }}
      </div>

      {{ if .Paginator.HasNext }}
        <a class="next-link" href="{{ .Paginator.Next.URL }}" aria-label="Next page"><i class="ion ion-ios-arrow-forward"></i></a>
      {{ end }}
    </div>

  </div>
</nav>
<!-- end pagination -->
{{ end }}